<div class="container">
  <div class="card-columns">
    <div class="card border-light fondo-gris-claro texto-negro shadow-sm" *ngFor="let secreto of secretos">
      <!--
      <img class="card-img-top" src="..." alt="Card image cap">
      -->
      <div class="card-body">
        <small class="card-title">Secreto Nº {{secreto.id}}</small>
        <!--
        <h5 class="card-title">Secreto Nº {{secreto.id}}</h5>        
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        -->
        <blockquote class="blockquote mb-0">
          <p>{{secreto.mensaje}}</p>
          <small>
          <footer class="texto-rojo blockquote-footer">Publicado el {{secreto.fecha | date: 'dd-MM-yyyy' }} por <cite title="Source Title">Anónimo</cite></footer>
        </small>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn fondo-rojo texto-blanco" 
(click)="dejarMiMensaje()"
style="position:fixed; bottom:0; right: 0; margin-bottom: 10px; margin-right: 10px;">
  <fa-icon [icon]="faPen" style="padding-right: 5px;"></fa-icon>¡Quiero escribir!
</button>